
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --os-blue: #3b82f6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at center, #2c3e50 0%, #000000 100%);
}

.menu-item:focus {
  outline: none;
  @apply text-blue-600 ring-2 ring-blue-200 rounded-sm;
}
